SCADA/ReportManager/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="getAlarmsByTimestamps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmsByTimestampsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getAlarmsByTimestampsResult" nillable="true" type="q1:ArrayOfAlarmEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="priority" type="q2:AlarmPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getAlarmsByPriorityResult" nillable="true" type="q3:ArrayOfAlarmEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTagValuesByTimestamps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTagValuesByTimestampsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getTagValuesByTimestampsResult" nillable="true" type="q4:ArrayOfTagValueEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnalogInputValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnalogInputValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getAnalogInputValuesResult" nillable="true" type="q5:ArrayOfTagValueEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDigitalInputValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDigitalInputValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getDigitalInputValuesResult" nillable="true" type="q6:ArrayOfTagValueEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getValuesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getValuesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getValuesByIdResult" nillable="true" type="q7:ArrayOfTagValueEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>